@model ContactInfo

<center>
<h1>Contact Dertails</h1>

<p><b>Id:</b>@Model.CompanyName</p>
<p><b>FirstName:</b>@Model.FirstName</p>
<p><b>LastName:</b>@Model.LastName</p>
<p><b>ComanyName:</b>@Model.CompanyName</p>
<p><b>EmailId:</b>@Model.EmailId</p>
<p><b>Mobile:</b>@Model.Mobile</p>
<p><b>Designatiion</b>@Model.Designation</p>

</center>